:root {
    --primary-color: rgb(45, 45, 202);
    --color-segundario: antiquewhite;
    --color-terciario: rgb(255, 128, 0);
    --header-size: 4rem;
    --font: 1.8rem;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

;

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

.invisible {
    display: none;
}

h1 {
    font-size: 1.2rem;
    margin: 2.5%;
}

h2 {
    font-size: 0.8rem;
}

h4 {
    font-size: 0.5rem;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
}

/*Botton category desplegable*/
.header__conteiner__ButtonDesplegbable {
    margin-top: 5%;
    color: rgb(236, 233, 233);
    background-color: rgb(150, 148, 148);
    border-radius: 18px;
}

.header__deslplegable_btn {
    color: rgb(236, 233, 233);
    background-color: rgb(123, 120, 120);
    padding: 5px 10px 5px;
    border-radius: 18px;
    border: 2px solid rgb(110, 110, 110);
}

.header__desplegable-options {
    /*ul*/
    display: none;
    width: 100%;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none
}


.header__desplegable-options li {
    /* background-color: rgb(236, 233, 233); */
    width: 100%;
    text-decoration: none;
    list-style: none;
    display: grid;
    justify-content: center;
}

.header__desplegable-options li a {
    text-decoration: none;
    color: rgb(236, 233, 233);
    ;

}

.header__desplegable-options li:hover {
    background-color: rgb(123, 120, 120);
    width: 100%;
    margin: 1px;
    /* border-radius: 18px; */
    text-decoration: none;
}

.header__conteiner__ButtonDesplegbable:hover .header__desplegable-options {
    display: block;
}

/* 
.dropdown {
    margin-bottom: 1%;
    padding: 2% 1% 2% 1%;

}

.input-group {
    display: flex;
    width: 75%;

} */

/* #back-arrow-btn {
    color: black;
    font-size: 3; 
    width: 15%;
    background-color: var(--color-segundario);
} */

/* .input-group .btn {
    position: relative;
    z-index: 2;
    background-color: var(--color-terciario);
} */


/* main {
    width: 90%;
    padding: 3%;
    background-color: var(--color-segundario);
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    border: 5px solid gray;
} */

/* .main-conteiner-a {
     bloque del top Rated 
    display: flex;
    width: 85%;
    overflow: scroll;
    scroll-snap-type: x mandatory;

} */

/* .main-conteiner-a img {
    width: 100;
    object-fit: cover;
    scroll-snap-align: center;
} */

/* main article {
    
    width: 85%;
    background-color: var(--color-segundario);
    border: 2px solid var(--primary-color)
} */

.movie-img {
    height: 50%;
}

/* VISTAS DEL MOVIE DETAIL */

/* #relationed_movies_principalDiv {
    display: flex;

} */

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=FOOOTERRRRR */
footer {
    margin-top: 10vh;
    width: 100%;
    height: 20vh;
    background-color: var(--primary-color);
}

/* ********************************* MEDIA QUERYS ***************************************/
/* small */
@media (min-width:480px) {}

header {
    display: flex;
    align-items: baseline;
    width: 90%;
    height: auto;
    background-color: var(--color-terciario);
    justify-content: flex-end;
    flex-direction: column-reverse;
    margin: 2% 5% 2% 5%;
    border-radius: 9px;
    padding: 20px;
}

/* large */
@media (min-width:768px) {
    header {
        display: flex;
        align-items: baseline;
        width: 90%;
        height: auto;
        background-color: var(--color-segundario);
        justify-content: flex-end;
        flex-direction: column-reverse;
        margin: 2% 5% 2% 5%;
        border-radius: 9px;
        padding: 20px;
    }
}

/* extraLarge */
@media (min-width:1024px) {}